<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FlyBot Messenger</title>
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
  <div id="app" class="chat-container">
    <div class="chat-messages">
      <div :class="{
          'speech-bubble': true,
          'bot-bubble-offset': msg.sender == 'bot',
          'user-bubble-offset': msg.sender == 'user',
          }" v-for="(msg, index) in messages" :key="index">
        <span
          v-if="msg.type == 'action'"
          class="typing-animation">Running query...</span>
        <span v-else v-html="msg.text"></span>
      </div>
    </div>
    <div v-if="disconnected">
      <div id="alert" class="alert">
        <span @click="connectSocket" class="closebtn">&times;</span> 
        WebSocket connection closed.
      </div>
    </div>
    <input
      @keyup.enter="sendMessage(false)"
      class="message-input" type="text" v-model="newMessage"
      placeholder="Type your message...">
    <button class="send-button" @click="sendMessage(false)">Send</button>
  </div>
  <script src="script.js"></script>
</body>
</html>
