body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 95vh;
  background: linear-gradient(to bottom, #64b5f6, #2196f3);
}

.chat-container {
  max-width: 400px;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-messages {
  height: 50vh;
  overflow-y: auto;
  margin-bottom: 2em;
}

.message {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.message.sender {
  background-color: #dcf8c6;
  align-self: flex-end;
}

.message-input {
  width: 73%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
}

.send-button {
  width: 20%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #0056b3;
}

.speech-bubble {
  font-size: 15px;
  margin-left: 5px;
  margin-top: 5px;
  position: relative;
  background-color: #dcf8c6;
  border-radius: 10px;
  padding: 10px;
}

.bot-bubble-offset {
  margin-right: 100px;
}

.bot-bubble-offset:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-right: 10px solid #dcf8c6;
  border-bottom: 5px solid transparent;
}


.user-bubble-offset {
  background-color: #c6d7f8;
  margin-left: 100px;
  margin-right: 5px;
}
.user-bubble-offset:after {
  content: '';
  position: absolute;
  bottom: 50%;
  left: 100%;
  margin-top: -5px;
  width: 0;
  height: 0;
  border-left: 5px solid #c6d7f8;
  border-bottom: 5px solid transparent;
}

.alert {
  padding: 15px;
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  border-radius: 4px; /* Rounded corners */
  margin-bottom: 20px; /* Add some space below the alert */
}

/* Add a close button to the alert */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When hovering over the close button */
.closebtn:hover {
  color: black;
}

/* Keyframes for the typing animation */
@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* CSS for the typing animation */
.typing-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s infinite;
  color: #ccc; /* Muted color */
}

